.language{
    width: 100%;
}

.language_one{
    width: 65%;
}

.language_up{
    width: 90%;
    font-size: xx-large;
    font-weight: bold;  
}

.language_icon{
    padding-top: 4%;
    padding-left: 73%;
}

.language_top_ioclose{
    color: black;
    width: 40px;
    height: 40px;
}

.language_down{
    width: 65%;
    height: 9vh;
}

.language_down select{
    width: 42%;
    height: 9vh;
    margin-top: 10%;
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: normal;
}
